@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;900&display=swap");

* {
  box-sizing: none;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-family: "Nunito Sans", sans-serif;
  color: #202030;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  align-items: flex-end;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  border-bottom: 0.1rem solid #dbdde1;
}

main {
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 900;
  font-size: 1.5rem;
}

h2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 1.2rem;
}

.small {
  font-size: 0.875rem;
}

.home {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 50%;
  margin: 2rem auto;
}

.home > * {
  margin: 0 1rem 1rem;
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.results-container {
  justify-self: center;
}

.congrats-text {
  margin-top: 35vh;
  font-weight: 700;
  font-size: 3rem;
}

.score-text {
  font-weight: 700;
  font-size: 1.5rem;
  color: #4ab078;
}
